<select name="{{ widget.name }}"
{% for name, value in widget.attrs.items %}
{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"
{% endif %}
{% endif %}
{% endfor %}>
{% for group_name, group_choices, group_index in widget.optgroups %}
{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</select>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<hr>
{% for name, value in widget.attrs.items %}
{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"
{% endif %}
{% endif %}
{% endfor %}

{% comment %} {{ form.media }} {% endcomment %}

<script>
    $(function(){
        $('#{{ widget.attrs.id }}').select2();
    })
</script>









<div class="row no-gutters block-9">
  <div class="col-md-6 order-md-last d-flex">
    <form action="#" class="bg-light p-4 p-md-5 contact-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Your Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Your Email">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Subject">
      </div>
      <div class="form-group">
        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
      </div>
    </form>
  
  </div>

  <div class="col-md-6 d-flex">
    <div class="img" style="background-image: url(images/about.jpg);"></div>
  </div>
</div>









