<select name="{{ widget.name }}"
{% for name, value in widget.attrs.items %}
{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"
{% endif %}
{% endif %}
{% endfor %}>
{% for group_name, group_choices, group_index in widget.optgroups %}
{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</select>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<hr>
{% for name, value in widget.attrs.items %}
{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"
{% endif %}
{% endif %}
{% endfor %}

{% comment %} {{ form.media }} {% endcomment %}

<script>
    $(function(){
        $('#{{ widget.attrs.id }}').select2();
    })
</script>