{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="container">
    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
      <h1>CREATE</h1>
      
      <div class="row no-gutters block-9">
        <div class="col-md-6 order-md-last d-flex">
          <form action="{% url 'community:create' %}" method="POST" class="bg-light p-4 p-md-5 contact-form mb-0">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper form-group">
              {{ form.title.errors }}
              <input type="text" class="form-control" placeholder="Title" id="id_title" name="title">
            </div>
            <div class="fieldWrapper form-group">
                {{ form.movie_title.errors }}
                <div style="display: none;">{{ form.movie_title }}</div>
                  <div id="autocomplete" class="autocomplete">
                    <input class="autocomplete-input" name="movie" placeholder="Find Movie" style="width: 100%;"/>
                    <ul class="autocomplete-result-list" style="width: 100%;"></ul>
                </div>
            </div>
            <div class="fieldWrapper form-group">
                {{ form.rank.errors }}
                <label for="id_rank">Rank : </label>
                {{ form.rank }}
                {% include 'community/star_rate.html' %}
            </div>
            <div class="fieldWrapper form-group">
                {{ form.content.errors }}
                <textarea name="content" id="id_content" cols="30" rows="7" class="form-control" placeholder="Content"></textarea>
            </div>
            
            <div class="form-group">
              <p><input type="submit" value="Send Review" class="btn btn-primary py-3 px-5"/></p>
            </div>
          </form>
          <hr>
        </div>
        
        <div class="col-md-6 d-flex">
          <div id="selected-poster" class="img" style=""></div>
        </div>

      </div>
    </section>
    <a href="{% url 'community:index' %}">[back]</a>
  </div>


{% endblock content %}

{% block script %}
  <script>

  function selected_poster(path) {
    const poster = document.querySelector('#selected-poster')

    poster.style = `background-image: url("http://image.tmdb.org/t/p/original${path}"); background-size: contain;`

  }



  function fn_selTest( val )
  {
    var ele = document.getElementById('id_movie_title');

    for( i=0,j=ele.length; i<j; i++ )
    {
      if( ele.options[i].innerText == val )
      {
        ele.options[i].selected = true;
        ele.options[i].innerText = val
        break;
      }
    }
  }

    new Autocomplete('#autocomplete', {

      search : input => {
        const url = `/community/search-movie/?movie=${input}`
        return new Promise(resolve => {
          if (input.length < 3) {
            return resolve([])
          }
          fetch(url)
          .then(response => response.json())
          .then(response => {
            resolve(response.data)
          })
        })
      },
      renderResult: (result, props) => `
        <li ${props}>
          <span class="wiki-snippet">
            <img src="http://image.tmdb.org/t/p/original/${result.poster_path}" style="width: 10%;">
          </span>
          <span class="wiki-title">
          ${result.title}
          </span>
        </li>
      `,

      getResultValue: result => result.title,

      onSubmit : result => {
        console.log(result.title)
        fn_selTest(result.title)
        selected_poster(result.poster_path)
      }
    })

  </script>

{% endblock script %}


