{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="container">
    <h1>CREATE</h1>
    
    <div class="row no-gutters block-9">
      <div class="col-md-6 order-md-last d-flex">
        <form action="{% url 'community:create' %}" method="POST" class="bg-light p-4 p-md-5 contact-form">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="fieldWrapper">
            {{ form.title.errors }}
            <input type="text" class="form-control" placeholder="Your Name" id="id_title">
          </div>
          <div class="fieldWrapper">
              {{ form.movie_title.errors }}
              <div style="display: none;">{{ form.movie_title }}</div>
                <div id="autocomplete" class="autocomplete">
                  <input class="autocomplete-input" name="movie" placeholder="Find Movie"/>
                  <ul class="autocomplete-result-list"></ul>
              </div>
          </div>
          <div class="fieldWrapper">
              {{ form.rank.errors }}
              <label for="id_rank">Rank : </label>
              {{ form.rank }}
              {% include 'community/star_rate.html' %}
          </div>
          <div class="fieldWrapper">
              {{ form.content.errors }}
              <textarea name="content" id="id_content" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
          </div>
          <p><input type="submit" value="Send message" class="btn btn-primary py-3 px-5"/></p>
        </form>
        <hr>
      </div>
      {% comment %} <div class="col-md-6 d-flex">
        <div id="selected-poster" class="img" style="background-image: url(images/about.jpg);"></div>
      </div> {% endcomment %}

    </div>
    <a href="{% url 'community:index' %}">[back]</a>
  </div>


{% endblock content %}

{% block script %}
  <script>

  {% comment %} function selected_poster(path) {
    const poster = document.querySelector('#selected-poster')

    poster.style = `background-image: url(http://image.tmdb.org/t/p/original/${path});`

  } {% endcomment %}



  function fn_selTest( val )
  {
    var ele = document.getElementById('id_movie_title');

    for( i=0,j=ele.length; i<j; i++ )
    {
      if( ele.options[i].innerText == val )
      {
        ele.options[i].selected = true;
        ele.options[i].innerText = val
        break;
      }
    }
  }

    new Autocomplete('#autocomplete', {

      search : input => {
        const url = `/community/search-movie/?movie=${input}`
        return new Promise(resolve => {
          if (input.length < 3) {
            return resolve([])
          }
          fetch(url)
          .then(response => response.json())
          .then(response => {
            resolve(response.data)
          })
        })
      },
      renderResult: (result, props) => `
        <li ${props}>
          <span class="wiki-snippet">
            <img src="http://image.tmdb.org/t/p/original/${result.poster_path}" style="width: 10%;">
          </span>
          <span class="wiki-title">
          ${result.title}
          </span>
        </li>
      `,

      getResultValue: result => result.title,

      onSubmit : result => {
        console.log(result.title)
        fn_selTest(result.title)
        selected_poster(result.poster_path)
      }
    })

  </script>

{% endblock script %}


