{% extends 'base.html' %}
{% load bootstrap5 %}
{% load mathfilters %}

{% block addcss %}
  <style>
    #id_content {
      height: 50px;
    }


  </style>

{% endblock addcss %}




{% block content %}
<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));">
  <div class="container">
    <div class="row px-5">
      <div class="col-6 px-0">
        <hr>
        <h1>{{ user.username }}님의</h1>
        <h2>{{ review.movie_title }}리뷰</h2>
        <h5>{{ review.title }}</h5>
        <hr>
        {{ review.content }}
        <hr>
        <span>별점 : </span>
        {% for j in "x"|rjust:'5' %}
          {% if forloop.counter0 < review.rank %}
            <span>★</span>
          {% else %}
            <span>☆</span>
          {% endif %}
        {% endfor %}
        <div>
          {% if user in review.like_users.all %}
            <i data-review-pk="{{ review.pk }}" class="fas fa-heart" style="color: red"></i>
          {% else %}
            <i data-review-pk="{{ review.pk }}" class="far fa-heart" style="color: black"></i>
          {% endif %}
        <!-- </form> -->
        <span id="like-count-{{ review.pk }}">{{ review.like_users.all|length }}</span>명이 좋아합니다.
          <hr>
        </div>

        <h4>comment</h4>
        {% if comments|length %}
          <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
        {% endif %}
        {% for comment in comments %}
          <div>
            {{ comment.user }} - {{ comment.content }}
          </div>
        {% empty %}
          <p><b>댓글이 없어요..</b></p>
        {% endfor %}
        <hr>
        <form action="{% url 'community:create_comment' review.pk %}" method="POST">
          {% csrf_token %}
          {{ comment_form.as_p }}
          <input type="submit" class="btn btn-light">
        </form>
      </div>
      
      <div class="col-6 mt-5">
        <img src="http://image.tmdb.org/t/p/original/{{ review.movie_title.poster_path }}" alt="" width="100%;">
      </div>

    </div>
    
  </div>

</div>

{% endblock content %}

{% block script %}

  <script>
    const label = document.querySelector('label')

    label.innerText = '댓글'
  </script>

  <script>
    const hearts = document.querySelectorAll('.fa-heart')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    
    hearts.forEach((heart) => {
      heart.addEventListener('click', (event) => {
        const reviewPk = event.target.dataset.reviewPk
        axios.post(`/community/${reviewPk}/like/`, {}, {
          headers: {'X-CSRFToken': csrftoken}
        })
          .then((res) => {
            console.log(res)

            if (res.data.liked) {
              event.target.style.color = 'red'
            } else {
              event.target.style.color = 'black'
            }
            event.target.classList.toggle('fas')
            event.target.classList.toggle('far')

            const likeSpan = document.querySelector(`#like-count-${reviewPk}`)
            likeSpan.innerText = res.data.count
          })
      })
    })
  </script>

{% endblock script %}