{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block script %}
  <style>
    #cutcontent {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden; 
      text-overflow: ellipsis;
      /* 여러 줄 자르기 추가 스타일 */ 
      white-space: normal; 
      line-height: 1.2; 
      height: 3.6em; 
      word-wrap: break-word; 
      display: -webkit-box; 
      -webkit-line-clamp: 3; 
      -webkit-box-orient: vertical;
    }

    #pagenation > ul > li > a {
      background-color: black;
      border-color: #999999;
      border-width: medium;
      color: hsl(40, 90%, 60%);
    }
  
  </style>

{% endblock script %}


{% block content %}
  {% include 'community/_card.html' %}

  <div class="d-flex justify-content-center" id="pagenation">
      {% bootstrap_pagination reviews %}
  </div>
  <div class="container d-flex justify-content-between pb-2">
    <form class="my-auto" action="{% url 'community:search' %}" method="POST">
      {% csrf_token %}
      <input type="search" placeholder="검색어를 입력해주세요." aria-label="Search" name="review", value="{{review}}">
      <button type="submit" class="btn btn-white btn-outline-white">검색</button>
    </form>
    <form action="{% url 'community:create' %}">
      <button id="write-comment" class="btn btn-primary my-auto">작성</button>
    </form>
  </div>
{% endblock content %}