{% load static %}

{% include "django/forms/widgets/input.html" %}

{% comment %} <link rel="stylesheet" href="{% static 'widgets/rateit.js-master/scripts/rateit.css' %}">
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="{% static 'widgets/rateit.js-master/scripts/jquery.rateit.min.js' %}" ></script> {% endcomment %}
{{ form.media }}
<div id="star_{{ widget.attrs.id }}" class="rateit" data-rateit-backingfld="#{{ widget.attrs.id }}"></div>
{% comment %} <input type="rating" name="grade" value="4" required="" id="id_grade" min="0" max="5" step="1" style="display: none;"> {% endcomment %}