{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mb-5 pb-3">
    <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
      <h1 class="big big-2">FLUFFY &nbsp HAPPINESS </h1>
      <h2 class="mb-4">About us</h2>
      <p>Samsung Software Academy For Youth 6th, Final PJT</p>
    </div>
  </div>
  <div class="row d-flex contact-info my-5 justify-content-center">
    <div class="col-md-6 col-lg-3 d-flex ftco-animate fadeInUp ftco-animated">
      <div class="align-self-stretch box p-4 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="icon-github"></span>
        </div>
        <h3 class="mb-4">Github</h3>
        <a href="https://github.com/FallingStar624/fluffy-happiness">PJT: FLUFFY-HAPPINESS</a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex ftco-animate fadeInUp ftco-animated">
      <div class="align-self-stretch box p-4 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="icon-paper-plane"></span>
        </div>
        <h3 class="mb-4">E-mail address</h3>
        <p><a href="mailto:pairy624@gmail.com">pairy624@gmail.com</a></p>
        <p><a href="mailto:ks94love@gmail.com">ks94love@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}